{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}

<style>
.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond flouté */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Assure que le modal est au-dessus de tout le reste */
}
</style>

<body class="ltr app sidebar-mini">
		<!-- GLOBAL-LOADER -->
		<div id="global-loader">
			<img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /GLOBAL-LOADER -->

		<!-- PAGE -->
		<div class="page">
			<div class="page-main">
				<!-- app-Header -->
				{% include "commun/header.html.twig" %}
				<!-- /app-Header -->

				<!--APP-SIDEBAR-->
					{% include "commun/side-bar-admin.html.twig" %}
				<!--/APP-SIDEBAR-->

				<!--app-content open-->
				<div class="app-content main-content mt-0">
					<div
						class="side-app">
						<!-- CONTAINER -->
						<div
							class="main-container container-fluid">
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Dashboard</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="javascript:void(0);">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
									</ol>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<!-- ROW-1 -->

							<!-- ROW-1 END-->

							<!-- ROW-2 -->
							<div class="row">
								<div class="col-lg-4 col-md-12">
									<div class="card">
										<div class="card-header border-bottom">
											<h3 class="card-title">Taux d'occupation journalier (Chambres)</h3>
										</div>
										<div class="card-body">
											<div class="chart-container">
												<canvas id="chartChambres" class="h-275"></canvas>
											</div>
										</div>
									</div>
								</div>

															<div class="col-lg-4 col-md-12">
									<div class="card">
										<div class="card-header border-bottom">
											<h3 class="card-title">Taux d'occupation journalier (Hébergés)</h3>
										</div>
										<div class="card-body">
											<div class="chart-container">
												<canvas id="chartHeberges" class="h-275"></canvas>
											</div>
										</div>
									</div>
								</div>


							<!-- ROW-2 END -->

							<!-- ROW-3 -->
															<div class="col-lg-4 col-md-12">
									<div class="card">
										<div class="card-header border-bottom">
											<h3 class="card-title">Chiffre d'affaire mensuel</h3>
										</div>
										<div class="card-body">
											<div class="chart-container">
												<canvas id="chiffreAffaire" class="h-275"></canvas>
											</div>
										</div>
									</div>
								</div>
							<!-- ROW-3 END -->

							<!-- ROW-4 -->
							<div class="row">
								<div class="col-12 col-sm-12">
									<div class="card product-sales-main">
										<div class="card-header border-bottom">
											<h3 class="card-title mb-0">Rendez-vous programmés</h3>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table id="data-table" class="table text-nowrap mb-0 table-bordered">
													<thead class="table-head">
														<tr>
															<th class="bg-transparent border-bottom-0 wp-15">Hébergé</th>
															<th class="bg-transparent border-bottom-0">Motif</th>
															<th class="bg-transparent border-bottom-0">Intendant</th>
															<th class="bg-transparent border-bottom-0">Date</th>
															<th class="bg-transparent border-bottom-0">Heure</th>
														</tr>
													</thead>
													<tbody class="table-body">
														{% for rendezVous in rendezVous %}
														{% for personne in personne %}
														<tr>
															<td>
																<div class="d-flex align-items-center">
																	<div class="user-details ms-2">
																		<h6 class="mb-0">{{ personne.nom }} {{ personne.prenom }}</h6>
																		<span class="text-muted fs-12">{{ personne.email }}</span>
																	</div>
																</div>
															</td>
															<td class="text-muted fs-14 fw-semibold">
																<p class="text-dark">{{ rendezVous.motifRdv }}</p>
															</td>
															<td class="text-muted fs-13">
																<a href="project-details.html" class="text-dark"></a>
															</td>
															<td class="text-danger fs-14 fw-semibold">{{ rendezVous.dateRdv|date('d-m-Y') }}</td>
															<td class="text-danger fs-14 fw-semibold">{{ rendezVous.heureRdv }}</td>
														</tr>
															{% endfor %}
															{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- COL END -->
							</div>
							<!-- ROW-4 END -->

						</div>
					</div>
				</div>
				<!-- CONTAINER END -->
			</div>

			<!-- FOOTER -->
				{% include "commun/footer.html.twig" %}
			<!-- FOOTER END -->
		</div>

		<!-- BACK-TO-TOP -->
		<a href="#top" id="back-to-top">
			<i class="fa fa-long-arrow-up"></i>
		</a>

</body>

{% endblock %}
