{% extends 'base.html.twig' %}

{% block title %}Espace hébergés
{% endblock %}


{% block body %}

	<body
		class="ltr app sidebar-mini">
		<!-- GLOBAL-LOADER -->
		<div id="global-loader">
			<img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /GLOBAL-LOADER -->

		<!-- PAGE -->
		<div class="page">
			<div
				class="page-main">

				<!-- app-Header -->
				{% include "commun/header.html.twig" %}
				<!-- /app-Header -->

				<!--APP-SIDEBAR-->
				{% include "commun/side-bar-admin.html.twig" %}
				<!--/APP-SIDEBAR-->

				<!--app-content open-->
					<div class="app-content main-content mt-0"> <div
						class="side-app">
						<!-- CONTAINER -->
						<div
							class="main-container container-fluid">
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Espace hébergés</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="javascript:void(0);">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Espace hébergés</li>
									</ol>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<div class="row">
								<div class="row row-sm">
									<div class="col-lg-12">
										<div class="card">
											<div class="card-header border-bottom">
												<h3 class="card-title">Liste des hébergés</h3>
											</div>
											<div class="card-body">
												<div class="table-responsive export-table">
													<table id="tableau-heberges" class="table editable-table deleted-table table-nowrap table-bordered table-edit wp-100">
														<thead>
															<button id="button" class="btn btn-primary mb-4 data-table-btn" onclick="ajouterLigne()">Ajouter un hébergé</button>
															<tr>
																<th>N° Bénéficiaire</th>
																<th>Nom et Prénom</th>
																<th>N° Chambre</th>
                                                                <th>Date Inscription</th>
																<th>Edit</th>
															</tr>
														</thead>
														<tbody>
														{% for personnes in personnes %}
														{% for chambre in chambre %}
															<tr data-id="1">
																<td data-field="numero_beneficiaire">{{ personnes.numeroBeneficiaire}}</td>
																<td data-field="nom">{{ personnes.nom }} {{ personnes.prenom }}</td>
																<td data-field="numero_chambre">{{ chambre.numeroChambre}}</td>
                                                                <td data-field="date_inscription">{{ personnes.dateInscription|date('d-m-Y')}}</td>
																<td style="width: 100px">
																	<div class="d-flex align-items-stretch">
																		<a class="btn btn-sm btn-outline-secondary border data-table-btn me-2" data-bs-toggle="tooltip" data-bs-original-title="Supprimer">
																			<svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" width="16"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/></svg>
																		</a>
																		<a href="#" class="border br-5 px-2 py-1 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																			<i class="fe fe-more-vertical"></i>
																		</a>
																		<div class="dropdown-menu dropdown-menu-start">
																			<a class="dropdown-item edit-icn" title="Edit">
																				<i class="fe fe-edit-2 me-2"></i>
																				Modifier</a>
																			<a class="dropdown-item" href="#">
																				<i class="fe fe-info me-2"></i>
																				Plus d'infos</a>
																		</div>
																	</div>
																</td>
															</tr>
															{% endfor %}
															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- FOOTER -->
							{% include "commun/footer.html.twig" %}
							<!-- FOOTER END -->
						</div>

						<!-- BACK-TO-TOP -->
						<a href="#top" id="back-to-top">
							<i class="fa fa-long-arrow-up"></i>
						</a>

						<script>
							function ajouterLigne() {
		var tableau = document.getElementById('tableau-heberges');
		var newRow = tableau.insertRow(tableau.rows.length);
		var cell1 = newRow.insertCell(0);
		var cell2 = newRow.insertCell(1);
		var cell3 = newRow.insertCell(2);
		var cell4 = newRow.insertCell(3);
		var cell5 = newRow.insertCell(4);
  
		cell1.innerHTML = 'Nouveau bénéficiaire';
		cell2.innerHTML = 'Nouveau nom';
		cell3.innerHTML = 'Nouveau numéro de chambre';
		cell4.innerHTML = 'Nouvelle date d\'inscription';
		cell5.innerHTML = '<div class="d-flex align-items-stretch"> \
							 <a class="btn btn-sm btn-outline-secondary border data-table-btn me-2" data-bs-toggle="tooltip" data-bs-original-title="Supprimer"> \
								<svg xmlns="http://www.w3.org/2000/svg" height="20" viewbox="0 0 24 24" width="16"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/></svg> \
							 </a> \
							 <a href="#" class="border br-5 px-2 py-1 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> \
								<i class="fe fe-more-vertical"></i> \
							 </a> \
							 <div class="dropdown-menu dropdown-menu-start"> \
								<a class="dropdown-item edit-icn" title="Edit"> \
								   <i class="fe fe-edit-2 me-2"></i> \
								   Modifier</a> \
								<a class="dropdown-item" href="#"> \
								   <i class="fe fe-info me-2"></i> \
								   Plus d\'infos</a> \
							 </div> \
						  </div>';
	 }
						</script>
					</body>
				{% endblock %}
