{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div id="global-loader">
		<img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
	</div>

	<div class="page">
		<div>
			<div class="col col-login mx-auto text-center">
				<a href="index.html">
					<img src="../assets/images/brand/logo.png" class="header-brand-img" alt="">
				</a>
			</div>
			<div class="container-login100">
				<div class="wrap-login100 p-0">
					<div class="card-body">
						<form class="login100-form validate-form" method="post">
							<span class="login100-form-title">
								Inscription
							</span>

							{{ form_start(form) }}

							<div class="text-center wrap-input100 validate-input" data-bs-validate="Veuillez entrez une adresse valide par exemple : ex@abc.xyz">
								{{ form_row(form.email, { 'attr': { 'class': 'input100' } }) }}
								<span class "focus-input100"></span>
							</div>

							<div class="text-center wrap-input100 validate-input" data-bs-validate="Mot de passe requis">
								{{ form_row(form.mdp, { 'attr': { 'class': 'input100' }, }) }}
								<span class="focus-input100"></span>
							</div>

							<div class="text-center wrap-input100 validate-input" data-bs-validate="Nom requis">
								{{ form_row(form.nom, { 'attr': { 'class': 'input100' } }) }}
								<span class="focus-input100"></span>
							</div>

							<div class="text-center wrap-input100 validate-input" data-bs-validate="Prénom requis">
								{{ form_row(form.prenom, { 'attr': { 'class': 'input100' } }) }}
								<span class="focus-input100"></span>
							</div>

							<div class="text-center wrap-input100 validate-input" data-bs-validate="Numéro de téléphone requis">
								{{ form_row(form.numTelephone, { 'attr': { 'class': 'input100' } }) }}
								<span class="focus-input100"></span>
							</div>

							<div class="text-center wrap-input100 validate-input" data-bs-validate="Date de naissance requise">
								{{ form_row(form.dateNaissance, { 'attr': { 'class': 'input100' } }) }}
								<span class="focus-input100"></span>
							</div>

							<div class="text-center wrap-input100 validate-input" data-bs-validate="Lieu de naissance requis">
								{{ form_row(form.lieuNaissance, { 'attr': { 'class': 'input100' } }) }}
								<span class="focus-input100"></span>
							</div>


							<div class="text-center pt-3">
								<p class="text-dark mb-0">Vous avez déjà un compte ?
									<a href="{{ path('app_login') }}" class="text-primary ms-1">Se connecter</a>
								</p>
							</div>

							{{ form_end(form) }}
						</form>

					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center my-3">
							<a href="javascript:void(0)" class="social-login  text-center me-4">
								<i class="fa fa-google"></i>
							</a>
							<a href="javascript:void(0)" class="social-login  text-center me-4">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="javascript:void(0)" class="social-login  text-center">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
